<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-media.css" />

    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/home">
                    <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
                </a>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p class="hand"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <section class="section-nav">
            <nav class="nav">
                <ul class="site">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="login">
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
    </header>
    <section class="section-banner">
        <div class="home-banner">
            <ul>
                <li><img src="img\MercadoLiebreBanner1.jpg" alt=""></li>
                <li><img src="img\MercadoLiebreBanner2.jpg" alt=""></li>
                <li><img src="img\MercadoLiebreBanner3.jpg" alt=""></li>
                <li><img src="img\MercadoLiebreBanner4.jpg" alt=""></li>
                <li><img src="img\MercadoLiebreBanner5.jpg" alt=""></li>
            </ul>
        </div>
    </section>
    <main class="container">
        <h3 class="titulares">Basado en tu última visita</h3>
        <section>
            <div class="wrapper">
                <article class="producto">
                    <div class="producto-img">
                        <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                    </div>
                    <div class="contenido-producto">
                        <p class="fas fa-truck"></p>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </article>
            </div>
            <div class="wrapper">
                <article class="producto">
                    <div class="producto-img">
                        <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    </div>
                    <div class="contenido-producto">
                        <p class="fas fa-truck"></p>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </article>
            </div>
            <div class="wrapper">
                <article class="producto">
                    <div class="producto-img">
                        <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy">
                    </div>
                    <div class="contenido-producto">
                        <p class="fas fa-truck"></p>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <h4 class="descripciones">Teléfono Samsung</h4>
                </article>
            </div>
            <div class="wrapper">
                <article class="producto">
                    <div class="producto-img">
                        <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    </div>
                    <div class="contenido-producto">
                        <p class="fas fa-truck"></p>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <h4 class="descripciones">Samsung 43"</h4>
                </article>
            </div>
        </section>
        <h3 class="titulares">Ofertas</h3><a href="#">Ver todas</a>
        <section>
            <div class="wrapper">
                <article class="producto">
                    <div class="producto-img">
                        <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    </div>
                    <div class="contenido-producto">
                        <p class="fas fa-truck"></p>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                    </div>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </article>
            </div>
            <div class="wrapper">
                <article class="producto">
                    <div class="producto-img">
                        <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    </div>
                    <div class="contenido-producto">
                        <p class="fas fa-truck"></p>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                    </div>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </article>
            </div>
            <div class="wrapper">
                <article class="producto">
                    <div class="producto-img">
                        <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy">
                    </div>
                    <div class="contenido-producto">
                        <p class="fas fa-truck"></p>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                    </div>
                    <h4 class="descripciones">Teléfono Samsung</h4>
                </article>
            </div>
            <div class="wrapper">
                <article class="producto">
                    <div class="producto-img">
                        <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    </div>
                    <div class="contenido-producto">
                        <p class="fas fa-truck"></p>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                    </div>
                    <h4 class="descripciones">Samsung 43"</h4>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section>
            <div>
                <i class="fas fa-credit-card"></i>
                <div class="titulos-footer">Pagá con tarjeta o en efectivo</div>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </div>
        </section>
        <section>
            <div>
                <i class="fas fa-gift"></i>
                <div class="titulos-footer">Envío gratis desde $ 2.500</div>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </div>
        </section>
        <section>
            <div>
                <i class="fas fa-user-shield"></i>
                <div class="titulos-footer">Seguridad, de principio a fin</div>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.
                </p>
            </div>
        </section>
        <div class="copyright">
            <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
            <p>Tel: +222 2222 0202</p>
        </div>
    </footer>
</body>

</html>