<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Mercado Liebre</title>
</head>
<header>
    <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
    <p>Barra de busqueda</p>
    <p>
        <!--iconito de mano-->Comprá en cuotas y sin tarjeta de crédito
    </p>
    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </nav>
</header>
<section>
    <img src="img/img-home-banner.jpg" width="360" alt="Banner de ofertas" />
</section>
<main>
    <section>
        <h3>Basado en tu última visita</h3>
        <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
        <!--iconito de camión-->
        <p>$6.770</p>
        <p>40% off</p>
        <h4>Cafetera Moulinex</h4>
        <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
        <!--iconito de camión-->
        <p>$230.000</p>
        <p>20% off</p>
        <h4>MacBook Pro 2019</h4>
        <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
            class="product_img">
        <!--iconito de camión-->
        <p>$70.500</p>
        <p>10% off</p>
        <h4>Teléfono móvil Samsung Galaxy S10</h4>
        <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
        <!--iconito de camión-->
        <p>$23.200</p>
        <p>5% off</p>
        <h4>SmartTv Samsung 43"</h4>
    </section>
    <section>
        <h3>Ofertas</h3>
        <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
        <!--iconito de camión-->
        <p>$6.770</p>
        <p>40% off</p>
        <h4>Cafetera Moulinex</h4>
        <img src="/img/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
        <!--iconito de camión-->
        <p>$230.000</p>
        <p>20% off</p>
        <h4>MacBook Pro 2019</h4>
        <img src="/img/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
            class="product_img">
        <!--iconito de camión-->
        <p>$70.500</p>
        <p>10% off</p>
        <h4>Teléfono móvil Samsung Galaxy S10</h4>
        <img src="/img/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
        <!--iconito de camión-->
        <p>$23.200</p>
        <p>5% off</p>
        <h4>SmartTv Samsung 43"</h4>
    </section>
</main>
<footer>
<section>
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
</section>
    <h4>Envío gratis desde $ 2.500</h4>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
<section>
    <h4>Seguridad, de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
</section>
<section>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</section>
    
</footer>

</html>