<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-forms.css" />
    <link rel="stylesheet" href="/css/styles-media.css" />

    <title>Ingresá a tu cuenta - Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/home">
                    <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />
                </a>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p class="hand"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <section class="section-nav">
            <nav class="nav">
                <ul class="site">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="login">
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
    </header>

    <main class="container">        
            <form action="#" class="form-container">
                <div>
                    <label for="">
                        <input type="text" name="username" placeholder="Nombre de Usuario" class="form-input" />
                    </label>
                </div>
                <div>
                    <input type="password" placeholder="Ingrese su contraseña" class="form-input" />
                </div>
                <div>
                    <button type="submit" class="button login-button">INGRESAR</button>
                </div>
            </form>
        
    </main>

    <footer class="footer">
        <section>
            <div>
                <i class="fas fa-credit-card"></i>
                <div class="titulos-footer">Pagá con tarjeta o en efectivo</div>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </div>
        </section>
        <section>
            <div>
                <i class="fas fa-gift"></i>
                <div class="titulos-footer">Envío gratis desde $ 2.500</div>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </div>
        </section>
        <section>
            <div>
                <i class="fas fa-user-shield"></i>
                <div class="titulos-footer">Seguridad, de principio a fin</div>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.
                </p>
            </div>
        </section>
        <div class="copyright">
            <p>Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
            <p>Tel: +222 2222 0202</p>
        </div>
    </footer>
</body>

</html>