/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ebebeb;
  margin: 0 auto;
  width: 100vw;
}

header {
  background-color: #fee600;
  width: 100vw;
}

.top-header {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 30px;
}

.logo {
  width: 50%;
  padding-right: 15px;
  box-sizing: border-box;
}

.form {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.top-header .form .input {
  background-color: #fff;
  color: #666;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.top-header .form .submit {
  background-color: #fff;
  color: #666;
  border: none;
  width: fit-content;
  padding-left: 5px;
  border-left: #ebebeb 1px solid;
  display: flex;
  align-items: center;
}

header .hand {
  width: fit-content;
  padding-top: 30px;
  text-align: center;
}

.section-nav {
  text-align: center;
}

.section-nav ul {
  list-style: none;
}

.burger-menu i {
  font-size: 1.5em;
  background-color: #1259c3;
  color: white;
  padding: 14px 15px 14px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  transition: ease-in-out 250ms;
}

.burger-menu:hover > i {
  background-color: #0022aa;
}

.section-banner {
  width: 100%;
  overflow: hidden;
}

.home-banner {
  width: 100%;
  margin: 0 auto;
  animation: slide 15s infinite alternate ease-in-out;
}

.home-banner ul {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 500%;
}

.home-banner ul li {
  list-style: none;
  width: 100%;
}

.home-banner ul li img {
  width: 100%;
  height: 90%;
}

.container {
  background-color: #ebebeb;
  width: 90vw;
  margin: 0 auto;
}

.producto {
  background-color: white;
  margin: 15px 0;
  cursor: pointer;
}

.producto .producto-img img {
  width: 100%;
}

.contenido-producto {
  display: flex;
  align-items: baseline;
  position: relative;
  justify-content: flex-start;
  padding: 15px;
  border-top: solid #ebebeb 1px;
}

.fa-truck {
  display: block;
  position: absolute;
  color: #39b54a;
  border: solid #39b54a 1px;
  background-color: white;
  font-size: 18px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  right: 20px;
  top: -15px;
}

.fa-truck:before {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.titulares {
  font-size: 24px;
  text-align: left;
  color: #666;
  padding: 25px 0 25px 0;
  width: fit-content;
  display: inline-block;
}

.container a{
  text-decoration: none;
  padding-left: 20px;
  color: #1259c3;
}

.precios {
  font-size: 18px;
  flex-grow: 0.3;
}

.descuentos {
  font-size: 16px;
  color: #39b54a;
  flex-grow: 0.7;
}

.descripciones {
  font-size: 16px;
  color: #666;
  padding: 10px 15px 20px 15px;
  max-width: 100%;
}

.footer {
  width: 100vw;
  background-color: white;
  padding-top: 60px;
  margin-top: 60px;
  text-align: center;
}

.footer section {
  margin-bottom: 40px;
  display: flex;
}

.footer section div {
  width: 100%;
}

.footer section .titulos-footer {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0 auto;
}

.footer section p {
  font-size: 12px;
  margin-bottom: 0px;
  max-width: 60%;
  margin: 0px auto;
}

.footer section i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
  transition: ease-in-out 250ms;
}

.footer div:hover > i {
  transform: translateY(-5px) scale(1.25);
  color: #0022aa;
}

.copyright {
  border-top: solid #ebebeb 1px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  text-align: left;
  width: 100%;
  padding: 15px 0 25px 5%;
  margin: 0 auto;
}
