body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 80vw;
  margin-top: 60px;
  background-color: white;
  border-radius: 2%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.container-title {
  width: 70vw;
  font-size: 16px;
  color: #666;
  padding: 25px 0 0 0;
  margin: 0 auto;
}

.form-container * {
  font-size: 16px;
}

.form-container {
  width: 70vw;
  margin: 30px auto 0;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: #666;
  box-sizing: border-box;
  border: 1px #ebebeb solid;
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.form-input:focus {
  border-color: #1259c3;
  outline: 0;
  box-shadow: 0 0 0 0.075rem rgba(0, 123, 255, 0.25);
}

form div {
  margin-bottom: 35px;
}

.form-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-container {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.profile-container label {
  display: flex;
  align-items: center;
  width: 40%;
}

.interest-container {
  margin-left: 15px;
}

.interest-container div {
  margin-bottom: 30px;
}

.interest-container label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  min-height: 1.15rem;
  min-width: 1.15rem;
  margin-right: 0.625rem;
}

input[type="file"] {
  width: 100%;
}

input::file-selector-button {
  color: white;
  min-height: 1.5rem;
  min-width: 1.5rem;
  background-color: #1259c3;
  border-radius: 0.3rem;
  border: #1259c3;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  padding: 0.75rem;
  margin-right: 0.5rem;
  transition: ease-in-out 300ms;
}

input::file-selector-button:hover {
  background-color: #0022aa;
}

.button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #1259c3;
  color: white;
  border-radius: 0.3rem;
  border: #1259c3;
  cursor: pointer;
  transition: ease-in-out 300ms;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.send:hover,
.login-button:hover {
  background-color: #0022aa;
}

.reset:hover {
  background-color: #aa0044;
}

.create-account {
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  color: #1259c3;
  cursor: pointer;
  margin-bottom: 40px;
}

.login-help {
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  border-top: 1px #ebebeb solid;
  color: #1259c3;
  cursor: pointer;
  margin-bottom: 1.15rem;
  padding: 1.15rem 1.15rem 0 ;
}

@media (min-width: 600px) {
  .container {
    width: 60vw;
  }

  .form-container {
    width: 50vw;
    margin: 30px auto 0;
  }

  .container-title {
    width: 50vw;
    margin: 0 auto;
  }

  .form-container * {
    font-size: 12px;
  }

  .form-input {
    margin: auto;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
  }

  .button-container div {
    width: 45%;
    margin-bottom: 0;
  }

  .create-account,
  .login-help {
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .container {
    width: 40vw;
  }

  .container-title {
    width: 30vw;
    margin: 0 auto;
  }

  .form-container {
    width: 30vw;
  }
}
