/* Phone : ancho maximo 599 px */
@media (width <= 599px) {
  .top-header {
    align-items: stretch;
  }

  .top-header .form .submit {
    height: 60%;
  }

  .descripciones {
    display: none;
  }

  .nav {
    display: none;
  }
}

/* Small Tablet : ancho de 600 px a 767px */
@media (width >= 600px) {
  .burger-menu {
    display: none;
  }

  .top-header {
    justify-content: space-between;
  }

  .top-header .form .input {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav ul li a {
    font-size: 10px;
  }

  .logo {
    width: 27vw;
    padding-right: 10px;
  }

  .form {
    width: 28vw;
    max-width: fit-content;
    justify-content: space-between;
    font-size: 12px;
    border-radius: 2px;
  }

  .top-header .form .submit {
    padding: 0.35em 0.25em 0.35em 0.45em;
  }

  .top-header .hand {
    padding: 0;
    font-size: 10px;
  }

  .login li a i {
    padding-left: 3px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
  }

  .nav .site li {
    padding-right: 12px;
  }

  .nav .login li {
    padding-left: 12px;
  }

  .nav ul li a {
    display: flex;
    justify-content: space-around;
    color: #222;
    text-decoration: none;
  }

  .container section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .wrapper {
    width: 40vw;
  }
}

/* Tablet : ancho de 768 px a 899px */
@media (768px <= width <= 899px) {
  .top-header .form .input {
    font-size: 13px;
  }

  .nav ul li a {
    font-size: 12px;
  }

  .form {
    width: fit-content;
    font-size: 13px;
  }

  .top-header .hand {
    font-size: 12px;
  }

  .login li a i {
    padding-left: 4px;
  }

  .nav .site li {
    padding-right: 15px;
  }

  .nav .login li {
    padding-left: 15px;
  }
}

/* Laptop - Desktop : ancho mínimo 900 px */
@media (width >= 900px) {
  .top-header .form .input {
    font-size: 14px;
  }

  .nav ul li a {
    font-size: 12px;
  }

  .logo {
    width: 15vw;
    max-width: 180px;
  }

  .form {
    width: 40vw;
    max-width: none;
    font-size: 14px;
  }

  .top-header .hand {
    font-size: 12px;
  }

  .login li a i {
    padding-left: 5px;
  }

  .nav {
    padding-top: 25px ;
  }

  .nav .site li {
    padding-right: 20px;
  }

  .nav .login li {
    padding-left: 20px;
  }

  .wrapper {
    width: 20vw;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer section {
    width: 33vw;
  }

  .footer section:nth-child(2):before,
  .footer section:nth-child(2):after {
    background-color: #ebebeb;
    content: "";
    display: block;
    height: 65px;
    margin-top: -32.5px;
    position: relative;
    top: 50%;
    width: 1px;
  }

  .footer section:nth-child(2):after {
    right: 0;
  }

  .footer section:nth-child(2):before {
    left: 0;
  }
}

/* Large Laptop - Desktop : ancho mínimo 1200 px */
@media (width >= 1200px) {
  .top-header .form .input {
    font-size: 16px;
  }

  .nav ul li a {
    font-size: 14px;
  }

  .form {
    font-size: 16px;
  }

  .top-header .hand {
    font-size: 14px;
  }

  .nav .site li {
    padding-right: 25px;
  }

  .nav .login li {
    padding-left: 25px;
  }
}

/* Slide Banner */

@keyframes slide {
  0% {
    left: 0;
  }
  16% {
    left: 0;
  }

  21% {
    left: -100%;
  }
  38% {
    left: -100%;
  }

  43% {
    left: -200%;
  }
  60% {
    left: -200%;
  }

  65% {
    left: -300%;
  }
  82% {
    left: -300%;
  }
  
  87% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}
