/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ebebeb;
  margin: 0 auto;
}

header {
  background-color: #eac926;
  width: 100vw;
}

.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}

.logo {
  width: 50%;
  padding-right: 15px;
  box-sizing: border-box;
}

.form {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.top-header .form .input {
  background-color: #fff;
  color: #666;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 2px;
  white-space: nowrap;
  overflow:hidden;
}

.top-header .form .submit {
  background-color: #fff;
  color: #666;
  border: none;
  width: fit-content;
  padding-left: 5px;
}

header .hand {
  text-align: center;
  padding-top: 30px;
  width: fit-content;
}

.section-nav {
  text-align: center;
}

.section-nav ul {
  list-style: none;
}

.burger-menu i {
  font-size: 1.5em;
  background-color: #1259c3;
  color: white;
  padding: 14px 15px 14px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.homeBanner {
  width: 100vw;
}

.container {
  background-color: #ebebeb;
  width: 90vw;
  margin: 0 auto;
}

.producto {
  background-color: white;
  margin: 15px 0;
  cursor: pointer;
}

.producto .producto-img img {
  width: 100%;
}

.contenido-producto {
  display: flex;
  align-items: baseline;
  position: relative;
  justify-content: flex-start;
  padding: 15px;
  border-top: solid #ebebeb 1px;
}

.fa-truck {
  display: block;
  position: absolute;
  color: #39b54a;
  border: solid #39b54a 1px;
  background-color: white;
  font-size: 18px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  right: 20px;
  top: -15px;
}

.fa-truck:before {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.titulares {
  font-size: 24px;
  text-align: left;
  color: #666;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}

.precios {
  font-size: 18px;
  flex-grow: 0.3;
}

.descuentos {
  font-size: 16px;
  color: #39b54a;
  flex-grow: 0.7;
}

.descripciones {
  font-size: 16px;
  color: #666;
  padding: 10px 15px 20px 15px;
  max-width: 100%;
}

.footer {
  width: 100vw;
  background-color: white;
  padding-top: 60px;
  margin-top: 60px;
  text-align: center;
}

.footer section {
  margin-bottom: 60px;
}

.footer section p.Descripciones {
  font-size: 16px;
  font-weight: bold;
}

.footer section p {
  font-size: 12px;
  margin-bottom: 0px;
  max-width: 60%;
  margin: 0 auto;
}

.footer section i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}

.copyright {
  font-size: 12px;
  text-align: left;
  width: 90vw;
  padding-bottom: 30px;
  margin: 0 auto;
}

/* Phone : ancho maximo 599 px */
@media (width <= 599px) {
  header {
    width: 100vw;
  }

  .top-header{
    align-items: stretch;
  }

  .descripciones {
    display: none;
  }

  .nav {
    display: none;
  }
}

/* Small Tablet : ancho de 600 px a 767px */
@media (600px <= width <= 767px) {
  .container section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .burger-menu {
    display: none;
  }
  
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .top-header .form .input {
    font-size: 12px;
  }

  .nav ul li a {
    font-size: 10px;
  }

  .logo {
    width: 27vw;
    padding-right: 10px;
  }

  .form {
    width: 28vw;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .top-header .hand {
    padding: 0;
    font-size: 10px;
  }

  .login li a i {
    padding-left: 3px;
  }

  .burger-menu {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 18px 15px 18px;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
  }

  .nav .site li {
    padding-left: 12px;
  }

  .nav .login li {
    padding-right: 12px;
  }

  .nav ul li a {
    display: flex;
    justify-content: space-around;
    color: #000;
    text-decoration: none;
  }

  .container section {
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
  }

  .wrapper {
    width: 40vw;
  }
}

/* Tablet : ancho de 768 px a 899px */
@media (768px <= width <= 899px) {
  .container section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .burger-menu {
    display: none;
  }
  
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .top-header .form .input {
    font-size: 13px;
  }

  .nav ul li a {
    font-size: 11px;
  }

  .logo {
    width: 30vw;
  }

  .form {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }

  .top-header .hand {
    padding: 0;
    font-size: 11px;
  }

  .login li a i {
    padding-left: 4px;
  }

  .burger-menu {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 25px 20px 25px;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
  }

  .nav .site li {
    padding-left: 15px;
  }

  .nav .login li {
    padding-right: 15px;
  }

  .nav ul li a {
    display: flex;
    justify-content: space-around;
    color: #000;
    text-decoration: none;
  }

  .container section {
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
  }

  .wrapper {
    width: 40vw;
  }
}

/* Laptop - Desktop : ancho mínimo 900 px */
@media (width >= 900px) {
  .container section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .top-header .form .input {
    font-size: 14px;
  }

  .nav ul li a {
    font-size: 12px;
  }

  .logo {
    width: 30vw;
  }

  .form {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .top-header .hand {
    padding: 0;
    font-size: 12px;
  }

  .login li a i {
    padding-left: 5px;
  }

  .burger-menu {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px 20px 30px;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
  }

  .nav .site li {
    padding-left: 20px;
  }

  .nav .login li {
    padding-right: 20px;
  }

  .nav ul li a {
    display: flex;
    justify-content: space-around;
    color: #000;
    text-decoration: none;
  }

  .container section {
    display: flex;
    justify-content: space-between;
  }

  .wrapper {
    width: 20vw;
  }
}

/* Large Laptop - Desktop : ancho mínimo 1200 px */
@media (width >= 1200px) {

  .top-header .form .input {
    font-size: 16px;
  }

  .nav ul li a {
    font-size: 14px;
  }

  .form{
    font-size: 16px;
  }

  .top-header .hand {
    font-size: 14px;
  }

  .nav {
    padding: 30px;
  }

  .nav .site li {
    padding-left: 25px;
  }

  .nav .login li {
    padding-right: 25px;
  }
}
