/*

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/

/* Paleta de colores */
:root {
  --blanco: #ffffff;
  --negroNav: #222222;
  --amarillo: #fee600;
  --rojo: #aa0044;
  --azul: #03264c;
  --azulClaro: #0022aa;
  --azulCorazon: #578ddf;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: var(--grisClaro);
  margin: 0 auto;
  width: 100vw;
}

header {
  background-color: var(--amarillo);
  width: 100vw;
}

.top-header {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
}

.fa-search:hover {
  cursor: pointer;
}

.logo {
  width: 50%;
  padding-right: 15px;
  box-sizing: border-box;
}

.form {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--blanco);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.top-header .form .input {
  background-color: var(--blanco);
  color: var(--grisOscuro);
  border: none;
  outline: none;
  font-size: 16px;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.top-header .form .submit {
  background-color: var(--blanco);
  color: var(--grisOscuro);
  border: none;
  width: fit-content;
  padding-left: 5px;
  border-left: var(--grisClaro) 1px solid;
  display: flex;
  align-items: center;
}

header .hand {
  width: fit-content;
  padding-top: 30px;
  text-align: center;
}

.section-nav {
  text-align: center;
}

.nav {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0 15px;
}

.section-nav ul {
  list-style: none;
}

.burger-menu i {
  font-size: 1.5em;
  background-color: var(--celeste);
  color: var(--blanco);
  padding: 14px 15px 14px 15px;
  border-radius: 5px;
  margin: 30px 0 20px;
  transition: ease-in-out 250ms;
}

.burger-menu:hover > i {
  background-color: var(--azulClaro);
}

.home-banner {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.home-banner figure {
  position: relative;
  width: 500%;
  height: 90%;
  margin: 0;
  left: 0;
  animation: slide 15s infinite alternate ease-in-out;
}

.home-banner figure img {
  width: 20%;
  float: left;
}

.container {
  background-color: var(--grisClaro);
  width: 90vw;
  margin: 0 auto;
}

.container section {
}

.container section div .producto {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  transition: ease-in-out 200ms;
}

.container section div .producto:hover {
  box-shadow: 0px 0px 15px rgb(100 100 100 / 60%);
}

.container section div .producto:hover > .producto-img > .fa-heart {
  visibility: visible;
}

.container section div .producto:hover > .descripciones {
  display: block;
}

.producto {
  background-color: var(--blanco);
  margin: 15px 0;
  border-radius: 0 0 2% 2%;
  cursor: pointer;
}

.producto .producto-img {
  display: flex;
  position: relative;
}

.producto .producto-img img {
  width: 100%;
}

.contenido-producto {
  display: flex;
  align-items: baseline;
  position: relative;
  justify-content: flex-start;
  padding: 15px;
  border-top: solid var(--grisClaro) 1px;
}

.fa-truck {
  display: block;
  position: absolute;
  color: var(--verde);
  border: solid var(--verde) 1px;
  background-color: white;
  font-size: 18px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  right: 20px;
  top: -15px;
  transition: ease-in-out 500ms;
}

.fa-truck:before {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.fa-truck:hover {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.fa-heart {
  display: block;
  position: absolute;
  color: var(--azulCorazon);
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  right: 20px;
  top: 15px;
  visibility: hidden;
}

.fa-heart:before {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.fa-heart:active {
  color: var(--celeste);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.titulares {
  font-size: 24px;
  text-align: left;
  color: var(--grisOscuro);
  padding: 25px 20px 25px 0;
  width: fit-content;
  display: inline-block;
}

.container a {
  text-decoration: none;
  padding-bottom: 25px;
  color: var(--celeste);
  display: inline-block;
}

.precios {
  font-size: 18px;
  flex-grow: 0.3;
}

.descuentos {
  font-size: 16px;
  color: var(--verde);
  flex-grow: 0.7;
}

.descripciones {
  font-size: 16px;
  color: var(--grisOscuro);
  padding: 10px 15px 20px 15px;
  max-width: 100%;
  display: none;
}

.footer {
  width: 100vw;
  background-color: var(--blanco);
  padding-top: 60px;
  margin-top: 60px;
  text-align: center;
}

.footer section {
  margin-bottom: 40px;
  display: flex;
}

.footer section div {
  width: 100%;
}

.footer section .titulos-footer {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0 auto;
}

.footer section p {
  font-size: 12px;
  margin-bottom: 0px;
  max-width: 60%;
  margin: 0px auto;
}

.footer section i {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--celeste);
  transition: ease-in-out 250ms;
}

.footer div:hover > i {
  -webkit-transform: translateY(-5px) scale(1.25);
  transform: translateY(-5px) scale(1.25);
  color: var(--azulClaro);
}

.copyright {
  border-top: solid var(--grisClaro) 1px;
  font-size: 12px;
  font-weight: bold;
  color: var(--grisOscuro);
  text-align: left;
  padding: 15px 0 25px 5%;
  margin: 0 auto;
}
