.form-container {
  width: 100%;
  margin-top: 30px;
}

.form-container * {
  font-size: 16px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: #666;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3rem;
}

form div {
  margin-bottom: 40px;
}

.form-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-container {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.profile-container label {
  width: 40%;
  padding-left: 10px;
}

.interest-container {
  margin-left: 20px;
}

.button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #1259c3;
  color: white;
  border-radius: 0.3rem;
  border: #1259c3;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

button:hover {
  background-color: #0022aa;
}

@media (min-width: 600px) {
  .form-container {
    width: 60vw;
    margin: 30px auto;
  }

  .form-container * {
    font-size: 12px;
  }

  .form-input {
    margin: auto;
  }
  
  .button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .button-container div {
    width: 45%;
  }
}

@media (min-width: 900px) {
  .form-container {
    width: 40vw;
  }
}
