body{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.form-container {
  width: 100%;
  margin-top: 30px;
}

.form-container * {
  font-size: 16px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: #666;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.form-input:focus {
  border-color: #1259c3;
  outline: 0;
  box-shadow: 0 0 0 0.075rem rgba(0, 123, 255, 0.25);
}

form div {
  margin-bottom: 35px;
}

.form-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-container {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.profile-container label {
  display: flex;
  align-items: center;
  width: 40%;
}

.interest-container {
  margin-left: 20px;
}

.interest-container div{
  margin-bottom: 30px;
}

.interest-container label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.input-radio,
.input-checkbox{
  display: inline-block;
  min-height: 1.15rem;
  min-width: 1.15rem;
  margin-right: 0.625rem;
}

.form-file{}

.button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #1259c3;
  color: white;
  border-radius: 0.3rem;
  border: #1259c3;
  cursor: pointer;
  transition: ease-in-out 300ms;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.send:hover, .login-button:hover {
  background-color: #0022aa;
}

.reset:hover {
  background-color: #aa0044;
}

@media (min-width: 600px) {
  .form-container {
    width: 60vw;
    margin: 30px auto 0;
  }

  .form-container * {
    font-size: 12px;
  }

  .form-input {
    margin: auto;
  }
  
  .button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
  }

  .button-container div {
    width: 45%;
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .form-container {
    width: 40vw;
  }
}
